<h1>Merge Data Results</h1>
<br>
<hr>


Done...


<strong>
  <font color="OrangeRed">

<br>
<%=@message.html_safe%>
<br
<hr>
  
</strong></font>



<br>


<!--
< %form_tag tools_mergedata_path do%>
< %=submit_tag("      Start Merge      ") %>
< %end%>
-->


<hr>