
<%if @backhaulID >0 %>
    <% cbllist = Cable.list_backhaul_cables(@backhaulID) %>
    <%if cbllist.empty?%>
       Backhual is empty 
   <%end%>
<%end%>

<hr>
Free Cables with No Connections Assigned: <br>


<!--build a table for eeach connection -->
  <% cbllist.each do |cbl| %>
<table class="tg4">
  <tr>
    <th class="tg4-sh07" colspan="6">Free Connection</th>
  </tr>

   <%@lastFiber=0%>
    <%fbrlist = Fiberstrand.list_cable_fibers(cbl.id)%>
    <!-- < %binding.pry%> -->
    <%pnt=0%>
    <% fbrlist.each do |fbr| %>
      <%@lastFiber = fbr%>
        <%next if fbr.nil?%>
        <%next if !fbr.connection_id.nil? %> <!-- only take those with no assigned connections -->

        <%pnt = pnt+1%>
        <%dev = Device.find_by_id(Devport.find_by_id(fbr.porta).device_id)%>
        <table class="tg2">
            <tr>
                <th class="tg2" colspan="10">Point <%=pnt%></th>
            </tr>
        <tr>
            <td class="tg2-yw4l">Location Name <%=pnt%></td>
            <td class="tg2-yw4l">Location Type <%=pnt%></td>
            <td class="tg2-yw4l">Location Address <%=pnt%></td>
            <td class="tg2-yw4l">Rack ID <%=pnt%></td>
            <td class="tg2-yw4l">TD ID <%=pnt%></td>
            <td class="tg2-yw4l">TD Type <%=pnt%></td>
            <td class="tg2-yw4l">Port ID <%=pnt%></td>
            <td class="tg2-yw4l">Cable Size <%=pnt%></td>
            <td class="tg2-yw4l">Cable Name <%=pnt%></td>
            <td class="tg2-yw4l">Fiberstrand ID <%=pnt%></td>
        </tr>
            <td class="tg2-yw4l"><%=(Location.find_by_id(cbl.location_a_id).name)%></td>
            <td class="tg2-yw4l"><%=(Location.find_by_id(cbl.location_a_id).location_type)%></td>
            <td class="tg2-yw4l"><%=(Location.find_by_id(cbl.location_a_id).address)%></td>
            <td class="tg2-yw4l"><%=NetRack.find_by_id(dev.net_rack_id).name%></td>
            <td class="tg2-yw4l"><%=dev.name%></td>
            <td class="tg2-yw4l"><%=dev.device_type%></td>
            <td class="tg2-yw4l"><%=(Devport.find_by_id(fbr.porta)).name%></td>
            <td class="tg2-yw4l"><%=cbl.size%></td>
            <td class="tg2-yw4l"><%=cbl.name%></td>
            <td class="tg2-yw4l"><%=fbr.name%></td>
          </tr>
  </table>
  
    <%end%>
    <!-- here we list data for the end point , point b on fibers-->
        <table class="tg3">
            <tr>
                <th class="tg3" colspan="10">End Point</th>
            </tr>
        <%cblb = Cable.find_by_id(@lastFiber.cable_id)%>
        <%devb = Device.find_by_id(Devport.find_by_id(@lastFiber.portb).device_id)%>
        <tr>
            <td class="tg3-yw4l">Location Name </td>
            <td class="tg3-yw4l">Location Type </td>
            <td class="tg3-yw4l">Location Address</td>
            <td class="tg3-yw4l">Rack ID</td>
            <td class="tg3-yw4l">TD ID</td>
            <td class="tg3-yw4l">TD Type</td>
            <td class="tg3-yw4l">Port ID</td>
            <td class="tg3-yw4l">Cable Size</td>
            <td class="tg3-yw4l">Cable Name</td>
            <td class="tg3-yw4l">Fiberstrand ID</td>
        </tr>
        </tr>
            <td class="tg3-yw4l"><%=(Location.find_by_id(cblb.location_b_id).name)%></td>
            <td class="tg3-yw4l"><%=(Location.find_by_id(cblb.location_b_id).location_type)%></td>
            <td class="tg3-yw4l"><%=(Location.find_by_id(cblb.location_b_id).address)%></td>
            <td class="tg3-yw4l"><%=NetRack.find_by_id(devb.net_rack_id).name%></td>
            <td class="tg3-yw4l"><%=devb.name%></td>
            <td class="tg3-yw4l"><%=devb.device_type%></td>
            <td class="tg3-yw4l"><%=(Devport.find_by_id(@lastFiber.portb)).name%></td>
            <td class="tg3-yw4l">--</td>
            <td class="tg3-yw4l">--</td>
            <td class="tg3-yw4l">--</td>
          </tr>

        </table>
<hr>
<%end%>
   
   
</p_freeconn>

<hr>
