<br>
<br>


<footer class="footer">
<%= link_to 'Home', root_path %><br>
<small>
<i>Property of</i> <a href="http://qnbn.qa"> <i> Qnbn: Qatar National Broadband Network</i>
</small>
<<br>
<hr>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
  Version 0.3
  Build 24102016-1000.1
</footer>